/*table styles */
table{
    box-sizing: border-box;
    border-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    font-size:15px;
    padding-top: 5%;
    padding-left: 10%;
}
table tr th{
    font-size: 15px;
    color:#fff;
    line-height: 1.5;
    padding:16px;
    margin: 20px;
    text-transform: uppercase;
    background-color: #f78d02;
}
table tr td{
    font-size:15px;
    color:  #f78d02;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.897);
    padding-top:7px;
    padding-bottom:7px;
    padding-right: 10px;

}

table tr td:hover {
    background-color: rgba(0, 0, 0, 0.473);
    color: #fff;
}

table tr td img{
    padding-left: 5px;
    border-radius:50%;
    height: 100px;
    width: 100px;
}

