/* footer styling */

footer {
    left: 0;
    bottom: 0;
    font-size: 18px;
    width: 100%;
    background-color: #000000a8;
    color: #f78d02;
    text-align: center;
    height:10%;
}

footer ul{
    padding-top:2%;
}

